[submodule "avr_2023_common_interfaces"]
	path = avr_2023_common_interfaces
	url = https://github.com/Daedalus-Robotics/avr_2023_common_interfaces.git
[submodule "avr_vmc_2023_status_interfaces"]
	path = avr_vmc_2023_status_interfaces
	url = https://github.com/Daedalus-Robotics/avr_vmc_2023_status_interfaces.git
[submodule "avr_vmc_2023_status_lights"]
	path = avr_vmc_2023_status_lights
	url = https://github.com/Daedalus-Robotics/avr_vmc_2023_status_lights.git
[submodule "avr_pcc_2023_interfaces"]
	path = avr_pcc_2023_interfaces
	url = https://github.com/Daedalus-Robotics/avr_pcc_2023_interfaces.git
[submodule "micro-ROS-Agent"]
	path = micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = foxy
[submodule "zed-ros2-wrapper"]
	path = zed-ros2-wrapper
	url = https://github.com/stereolabs/zed-ros2-wrapper.git
[submodule "avr_vmc_2023_bdu"]
	path = avr_vmc_2023_bdu
	url = https://github.com/Daedalus-Robotics/avr_vmc_2023_bdu.git
[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "avr_vmc_2023_csi_driver"]
	path = avr_vmc_2023_csi_driver
	url = https://github.com/Daedalus-Robotics/avr_vmc_2023_csi_driver.git
